@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}
 /* navbar */
header{
   
   display: flex;
   align-items: center;
   flex-direction: column;
    
    
}
.head{
      display: grid;
      grid-template-columns: repeat(2,1fr );
      width: 870px;
      background-color: lightskyblue;
      padding: 10px 30px;
      justify-content: space-between;

}
.logo{
    width: 30%;
}
.logo img{
    width: 40%;
   
    
    

}
.nav{
    display: flex;
    text-align: right;
   width: 60%;
   align-items: center;
}
.nav a{
    text-decoration: none;
    font: 18px;
    margin-right: 7%;
    color: white; 
    transition: 1s;
}
.nav a:hover{
    color: rgb(49, 51, 53);
}
/* top player and blog */
/* main utulizer */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.container{
background-color: #ffffff;
width: 870px;
padding: 30px;
margin-bottom: 24px;




}
.top-heading{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 29px;
}
.top-player{


}
.players{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
     grid-row-gap: 29px;
    margin-bottom: 22px;
   
    
}
.player{
    display: flex;
    align-items: center;
}
.player-header{
    margin-left: 16px;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #d1d1d1;
  
}
/* .top blog */
.blogs{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog-heading{
    color: #562EFF;
    font-size: 24px;
    margin: 30px;
    display: block;
    width: 100%;
  
}

.blogs .top-blog img{
    width: 177px;
height: 117px;


}
article{
    display: flex;
}
.author{
    margin-left: 16px;
}
.blog-head{
    font-size: 20px;
}
.author a{
    text-decoration: none;
    color: #562EFF;

}
/* courses */
.couses{
    display: flex;
}
.course-full .course-img img{
    width: 266px;
    height: 141px;
}
.course-author{
    font-size: 20.0336px;
    color: #ED6B4F;
}
.course-info span{
    justify-content: space-between;
    /* margin-right: 20px; */
    
}
.fas.icon-class{
   color:  #FFC014;
}
.fas.empty-icon{
    color: #AEAEAE; ;
}
.last-icon{
    background: #f057686b;
    padding: 1px 3px;
    margin-left: 30px;
    border-radius: 4px;
    Width :57.43px;
     height: 20.03px;
     color:#FF4A60;;
}
/* meadia screen query */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
   .players,.blogs,header {
      
      grid-template-columns:repeat(1, 1fr);
  

    }
 
    .player{
        flex-direction: column;
    }
   .couses{
   flex-direction: column;
    }
  }

/* table devices */
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players,.blogs{
        grid-template-columns:repeat(2, 1fr);
        justify-content: center;
       
        
    }
    .couses{
        flex-direction: column;
       align-items: center;
         }
}
